{
    "best_case": {
        "attacking_regiment": {
            "nb_rows": 4,
            "nb_cols": 5,
            "nb_models": 17,
            "points": 10
        },
        "defending_regiment": {
            "nb_rows": 2,
            "nb_cols": 5,
            "nb_models": 10,
            "points": 3
        },
        "occurrence_probability": 0.23791208650489054
    },
    "worst_case": {
        "attacking_regiment": {
            "nb_rows": 4,
            "nb_cols": 5,
            "nb_models": 17,
            "points": 5
        },
        "defending_regiment": {
            "nb_rows": 3,
            "nb_cols": 5,
            "nb_models": 15,
            "points": 3
        },
        "occurrence_probability": 0.003097758482781122
    },
    "average_case": {
        "attacking_regiment": {
            "nb_rows": 4,
            "nb_cols": 5,
            "nb_models": 19,
            "points": 8
        },
        "defending_regiment": {
            "nb_rows": 3,
            "nb_cols": 5,
            "nb_models": 12,
            "points": 1
        },
        "occurrence_probability": 0.07443220723974381
    }
}
